In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [35]:
driver=webdriver.Chrome(r"C:/Users/offic/Downloads/chromedriver_win32 (1)/chromedriver.exe")#opening the chrome driver

In [3]:
driver.get("https://www.olx.in/")

In [4]:
#click on buy cars
driver.find_element_by_xpath("/html/body/div[1]/div/main/div/section/div[1]/div/div/button[1]").click()
time.sleep(2)

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [6]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [7]:
len(page_url)

500

In [9]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [10]:
#for maharashtra
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [11]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)
brand_

['Nissan Sunny ',
 'Skoda Superb ',
 'Bmw X5 ',
 'Mahindra Jeep ',
 'Hyundai I10 ',
 'Maruti Suzuki Sx4 ',
 'Toyota Innova Crysta ',
 'Hyundai Xcent ',
 'Toyota Innova ',
 'Tata Indigo Ecs ',
 'Mitsubishi Pajero Sport ',
 'Volkswagen Jetta ',
 'Maruti Suzuki Swift ',
 'Toyota Innova ',
 'Maruti Suzuki Wagon R ',
 'Mercedes-Benz Clk Class ',
 'Volkswagen Polo ',
 'Fiat Linea ',
 'Maruti Suzuki Wagon R ',
 'Tata Indica Vista ',
 'Hyundai Fluidic Verna ',
 'Maruti Suzuki Swift Dzire ',
 'Toyota Camry ',
 'Maruti Suzuki Swift Dzire ',
 'Renault Duster ',
 'Skoda Superb ',
 'Maruti Suzuki Swift ',
 'Hyundai Eon ',
 'Toyota Etios ',
 'Mahindra Scorpio ',
 'Ford Fiesta ',
 'Fiat Punto ',
 'Toyota Innova ',
 'Toyota Camry ',
 'Volkswagen Polo ',
 'Mercedes-Benz Glc Class ',
 'Maruti Suzuki Ciaz ',
 'Ford Endeavour ',
 'Maruti Suzuki Wagon R ',
 'Toyota Etios ',
 'Hyundai Xcent ',
 'Mahindra Xuv500 ',
 'Nissan Micra Active ',
 'Maruti Suzuki Wagon R ',
 'Hyundai Xcent ',
 'Maruti Suzuki Ciaz ',
 'Mahindra Scorpio ',
 'Maruti Suzuki Wagon R ',
 'Maruti Suzuki Vitara Brezza ',
 'Tata Vista ',
 'Hyundai Accent ',
 'Toyota Innova ',
 'Mercedes-Benz S-Class ',
 'Hyundai I20 ',
 'Maruti Suzuki Swift Dzire ',
 'Tata Zest ',
 'Nissan Sunny ',
 'Maruti Suzuki Ertiga ',
 'Tata Others ',
 'Maruti Suzuki Ritz ',
 'Mahindra Scorpio ',
 'Hyundai Grand I10 ',
 'Tata Manza ',
 'Mahindra Xylo ',
 'Hyundai I10 ',
 'Hyundai I20 ',
 'Honda Amaze ',
 'Honda Amaze ',
 'Honda City ',
 'Volkswagen Vento ',
 'Toyota Innova ',
 'Mahindra Scorpio ',
 'Chevrolet Optra ',
 'Maruti Suzuki Swift ',
 'Hyundai I20 ',
 'Toyota Innova ',
 'Hyundai I20 ',
 'Chevrolet Beat ',
 'Skoda Octavia ',
 'Honda Civic ',
 'Hyundai Creta ',
 'Renault Captur ',
 'Maruti Suzuki 1000 ',
 'Tata Indigo Cs ',
 'Volkswagen Passat ',
 'Tata Nano ',
 'Hyundai Creta ',
 'Hyundai Creta ',
 'Tata Indica V2 ',
 'Maruti Suzuki Baleno ',
 'Volkswagen Polo ',
 'Hyundai I20 ',
 'Mitsubishi Cedia ',
 'Maruti Suzuki Baleno ',
 'Audi A6 ',
 'Maruti Suzuki Swift Dzire ',
 'Hyundai I20 ',
 'Mahindra Xuv500 ',
 'Honda City ',
 'Hyundai Verna ',
 'Hyundai Verna ',
 'Hyundai I20 Active ',
 'Maruti Suzuki Alto ',
 'Mahindra Jeep ',
 'Renault Kwid ',
 'Hyundai I20 ',
 'Bmw 5 Series ',
 'Maruti Suzuki Ritz ',
 'Skoda Superb ',
 'Chevrolet Enjoy ',
 'Maruti Suzuki Swift ',
 'Maruti Suzuki 800 ',
 'Bmw X1 ',
 'Audi Q3 ',
 'Skoda Rapid ',
 'Volkswagen Polo ',
 'Hyundai Grand I10 ',
 'Maruti Suzuki Celerio ',
 'Maruti Suzuki Esteem ',
 'Maruti Suzuki S-Cross ',
 'Toyota Innova ',
 'Volkswagen Polo ',
 'Maruti Suzuki Omni ',
 'Hyundai Xcent ',
 'Maruti Suzuki Swift Dzire ',
 'Honda Accord ',
 'Volkswagen Polo Gti ',
 'Toyota Corolla Altis ',
 'Maruti Suzuki Swift Dzire ',
 'Maruti Suzuki Eeco ',
 'Toyota Innova ',
 'Chevrolet Beat ',
 'Land Rover Range Rover Velar ',
 'Bmw X1 ',
 'Land Rover Range Rover ',
 'Mercedes-Benz C-Class ',
 'Volkswagen Polo ',
 'Mahindra Xuv500 ',
 'Mahindra Scorpio Getaway ',
 'Skoda Rapid ',
 'Jeep Compass ',
 'Skoda Rapid ',
 'Hyundai Verna ',
 'Maruti Suzuki Zen ',
 'Toyota Innova Crysta ',
 'Hyundai Verna ',
 'Toyota Etios ',
 'Maruti Suzuki Alto 800 ',
 'Bajaj Re60 ',
 'Volkswagen Polo ',
 'Hyundai Verna ',
 'Maruti Suzuki Baleno ',
 'Mercedes-Benz S-Class ',
 'Hyundai Accent ',
 'Maruti Suzuki Wagon R ',
 'Maruti Suzuki Ertiga ',
 'Toyota Innova ',
 'Tata Hexa ',
 'Honda City ',
 'Hyundai I20 Active ',
 'Bmw X1 ',
 'Honda Amaze ',
 'Tata Aria ',
 'Honda City ',
 'Honda Brio ',
 'Honda Accord ',
 'Maruti Suzuki Wagon R ',
 'Chevrolet Beat ',
 'Mahindra Scorpio ',
 'Maruti Suzuki Alto 800 ',
 'Maruti Suzuki Swift Dzire ',
 'Mercedes-Benz E-Class ',
 'Ford Figo ',
 'Honda City ',
 'Maruti Suzuki Sx4 ',
 'Hyundai I20 ',
 'Honda Civic ',
 'Maruti Suzuki Ertiga ',
 'Toyota Innova ',
 'Mahindra Thar ',
 'Land Rover Freelander 2 ',
 'Mahindra Jeep ',
 'Hyundai I20 ',
 'Hyundai Santro Xing ',
 'Tata Indigo Cs ',
 'Mahindra Bolero ',
 'Maruti Suzuki Baleno ',
 'Maruti Suzuki Ertiga ',
 'Hyundai Elite I20 ',
 'Honda City ',
 'Maruti Suzuki Swift ',
 'Maruti Suzuki Vitara Brezza ',
 'Maruti Suzuki Swift Dzire ',
 'Maruti Suzuki Sx4 ',
 'Volkswagen Jetta ',
 'Maruti Suzuki Swift ',
 'Maruti Suzuki Swift ',
 'Hyundai I20 ',
 'Hyundai Grand I10 ',
 'Toyota Innova Crysta ',
 'Bmw 3 Series ',
 'Maruti Suzuki Celerio ',
 'Mahindra Scorpio ',
 'Tata Zest ',
 'Mahindra Scorpio ',
 'Hyundai I10 ',
 'Maruti Suzuki Swift Dzire ',
 'Maruti Suzuki Baleno ',
 'Hyundai I10 ',
 'Hyundai I10 ',
 'Toyota Innova ',
 'Maruti Suzuki Ertiga ',
 'Maruti Suzuki Swift Dzire ',
 'Hyundai Santa Fe ',
 'Maruti Suzuki Ertiga ',
 'Toyota Innova ',
 'Skoda Rapid ',
 'Maruti Suzuki Ertiga ',
 'Jeep Others ',
 'Bmw 3 Series ',
 'Maruti Suzuki Ertiga ',
 'Bmw 3 Series Gt ',
 'Toyota Glanza ',
 'Maruti Suzuki Wagon R ',
 'Hyundai I20 ',
 'Ford Ecosport ',
 'Mahindra Thar ',
 'Hyundai Santa Fe ',
 'Maruti Suzuki Swift Dzire ',
 'Hyundai Creta ',
 'Maruti Suzuki Vitara Brezza ',
 'Maruti Suzuki Ertiga ',
 'Tata Aria ',
 'Hyundai I10 ',
 'Honda Civic ',
 'Maruti Suzuki Swift ',
 'Honda City ',
 'Toyota Innova ',
 'Mercedes Benz C Class ',
 'Maruti Suzuki Alto ',
 'Hyundai Creta ',
 'Mg Hector ',
 '-',
 'Maruti Suzuki Zen ',
 'Honda City Zx ',
 'Maruti Suzuki Wagon R 1.0 ',
 'Bmw 1 Series ',
 'Hyundai I20 ',
 'Honda City ',
 'Volkswagen Polo ',
 'Maruti Suzuki Swift Dzire ',
 'Hyundai I20 ',
 'Hyundai Verna ',
 'Hyundai Verna ',
 'Maruti Suzuki Sx4 ',
 'Maruti Suzuki Eeco ',
 'Maruti Suzuki Swift Dzire ',
 'Mahindra Ekuv100 ',
 'Tata Nano ',
 'Mahindra Bolero ',
 'Maruti Suzuki Zen Estilo ',
 'Renault Kwid ',
 'Mercedes-Benz New C-Class ',
 'Maruti Suzuki Ciaz S ',
 'Tata Safari Storme ',
 'Toyota Innova ',
 'Maruti Suzuki Eeco ',
 'Maruti Suzuki Alto K10 ',
 'Honda City Zx ',
 'Honda City ',
 'Renault Fluence ',
 'Ford Ecosport ',
 'Maruti Suzuki Celerio ',
 'Maruti Suzuki Wagon R 1.0 ',
 'Tata Indica Vista ',
 'Hyundai I20 ',
 'Mahindra Renault Logan ',
 'Tata Vista ',
 'Ford Figo ',
 'Chevrolet Tavera ',
 'Ford Figo ',
 'Toyota Etios Liva ',
 'Toyota Fortuner ',
 'Hyundai Xcent ',
 'Honda City Zx ',
 'Ford Figo ',
 'Hyundai Creta ',
 'Maruti Suzuki Vitara Brezza ',
 'Maruti Suzuki Zen Estilo ',
 'Hyundai I20 ',
 'Maruti Suzuki Wagon R ',
 'Maruti Suzuki Alto 800 ',
 'Maruti Suzuki Baleno ',
 'Tata Indica E V2 ',
 'Hyundai I20 ',
 'Maruti Suzuki S Cross ',
 'Hyundai I10 ',
 'Tata Indigo Cs ',
 'Honda Jazz ',
 'Maruti Suzuki Swift ',
 'Volkswagen Polo ',
 'Renault Duster ',
 '-',
 'Hyundai I10 ',
 'Maruti Suzuki Swift Dzire ',
 'Hyundai I10 ',
 'Honda City ',
 'Hyundai Fluidic Verna ',
 'Hyundai Creta ',
 'Renault Fluence ',
 'Maruti Suzuki Swift Dzire ',
 'Maruti Suzuki Swift ',
 'Maruti Suzuki A-Star ',
 'Mercedes-Benz Cla ',
 'Maruti Suzuki Swift Dzire ',
 'Maruti Suzuki Vitara Brezza ',
 'Maruti Suzuki Ertiga ',
 'Mahindra Bolero ',
 'Hyundai I20 ',
 'Fiat Linea ',
 '-',
 'Hyundai I20 ',
 'Nissan Terrano ',
 'Maruti Suzuki Zen ',
 'Hyundai Accent ',
 'Honda City Zx ',
 'Maruti Suzuki Sx4 ',
 'Hyundai I20 ',
 'Bmw 3 Series ',
 'Maruti Suzuki Swift ',
 'Ford Ecosport ',
 'Honda City ',
 'Chevrolet Spark ',
 'Skoda Laura ',
 'Honda Mobilio ',
 'Audi Q7 ',
 'Chevrolet Cruze ',
 'Honda City Zx ',
 'Maruti Suzuki Vitara Brezza ',
 'Hyundai I10 ',
 'Mahindra Xuv500 ',
 'Maruti Suzuki Ertiga ',
 '-',
 'Honda Civic ',
 'Maruti Suzuki Wagon R ',
 'Maruti Suzuki Eeco ',
 'Toyota Innova Crysta ',
 'Maruti Suzuki Wagon R Duo ',
 'Mahindra Marazzo ',
 'Hyundai Fluidic Verna ',
 'Maruti Suzuki Swift ',
 'Maruti Suzuki Alto K10 ',
 'Mercedes-Benz A Class ',
 'Maruti Suzuki Estilo ',
 'Maruti Suzuki Swift ',
 'Bmw 5 Series ',
 'Nissan X-Trail ',
 'Hyundai Santro Xing ',
 'Hyundai Verna ',
 'Mahindra Kuv 100 ',
 'Hyundai I20 Active ',
 '-',
 'Toyota Innova ',
 'Skoda Laura ',
 'Mahindra Scorpio ',
 'Hyundai Creta ',
 'Hyundai I10 ',
 'Honda City ',
 'Chevrolet Optra Magnum ',
 'Toyota Innova ',
 'Hyundai Creta ',
 'Kia Seltos ',
 'Ford Ecosport ',
 'Maruti Suzuki Swift ',
 'Mahindra Xuv500 ',
 'Chevrolet Enjoy ',
 'Maruti Suzuki Ertiga ',
 'Tata Zest ',
 'Maruti Suzuki Swift Dzire ',
 'Hyundai I20 ',
 'Volkswagen Polo ',
 'Volkswagen Vento ',
 'Honda City ',
 'Volkswagen Vento ',
 'Honda City ',
 'Mahindra Xuv500 ',
 'Maruti Suzuki Swift Dzire ',
 'Honda Amaze ',
 'Honda City ',
 'Honda City Zx ',
 'Volkswagen Polo ',
 'Maruti Suzuki Swift ',
 'Other Brands Others ',
 'Maruti Suzuki Swift ',
 'Honda City ',
 'Honda City ',
 'Hyundai I20 ',
 'Hyundai I20 ',
 'Mahindra Scorpio ',
 'Tata Manza ',
 'Chevrolet Enjoy ',
 'Audi A3 ',
 'Hyundai Elite I20 ',
 'Honda City Zx ',
 'Honda Civic ',
 'Hyundai I20 ',
 'Volkswagen Polo ',
 'Mahindra Xuv500 ',
 'Toyota Innova ',
 'Volkswagen Vento ',
 'Volkswagen Vento ',
 'Maruti Suzuki Swift Dzire ',
 'Maruti Suzuki Ritz ',
 'Maruti Suzuki Esteem ',
 'Hyundai Accent ',
 'Hyundai Verna ',
 'Skoda Rapid ',
 'Maruti Suzuki Wagon R ',
 'Hyundai Verna ',
 'Chevrolet Beat ',
 'Audi Q7 ',
 'Maruti Suzuki Swift ',
 'Toyota Innova ',
 'Maruti Suzuki Swift ',
 'Tata Zest ',
 'Maruti Suzuki Wagon R ',
 'Maruti Suzuki Swift ',
 'Tata Zest ',
 'Honda Civic ',
 'Ford Ecosport ',
 'Maruti Suzuki Swift ',
 'Maruti Suzuki Swift ',
 'Maruti Suzuki Ertiga ',
 'Maruti Suzuki Wagon R ',
 'Hyundai I10 ',
 'Hyundai I10 ',
 'Maruti Suzuki Swift Dzire ',
 'Chevrolet Spark ',
 'Honda City ',
 'Maruti Suzuki Swift Dzire ',
 'Volkswagen Vento ',
 'Hyundai Verna ',
 'Skoda Superb ',
 'Mahindra Tuv 300 ',
 'Maruti Suzuki Wagon R ',
 'Honda Brio ',
 'Mercedes-Benz Cla ',
 'Maruti Suzuki Sx4 ',
 'Chevrolet Optrasrv ',
 'Audi A4 ',
 'Ford Ecosport ',
 'Ford Figo ',
 'Maruti Suzuki Swift ',
 'Chevrolet Tavera Neo ',
 'Volkswagen Vento ',
 'Maruti Suzuki Alto ',
 'Honda City ',
 'Skoda Octavia ',
 'Maruti Suzuki Swift Dzire ',
 'Maruti Suzuki Ritz ',
 'Hyundai Eon ',
 'Hyundai I20 ',
 'Hyundai Grand I10 ',
 'Honda City ',
 'Hyundai I10 ',
 'Chevrolet Spark ',
 'Tata Zest ',
 'Ford Figo Aspire ',
 'Maruti Suzuki Ertiga ',
 'Maruti Suzuki Ciaz ',
 'Honda City ',
 'Chevrolet Cruze ',
 'Toyota Innova ',
 'Skoda Fabia ',
 'Skoda Rapid ',
 'Maruti Suzuki Swift ',
 'Honda City ',
 'Maruti Suzuki Swift Dzire ',
 'Honda Brio ',
 'Mahindra Quanto ',
 'Skoda Superb ',
 'Tata Tiago ',
 'Maruti Suzuki Baleno ',
 'Toyota Corolla Altis ',
 'Datsun Go ',
 'Hyundai I10 ',
 'Ford Figo ',
 'Maruti Suzuki Ritz ',
 'Hyundai I10 ',
 'Hyundai Verna ',
 'Mahindra Xylo ',
 'Skoda Rapid ',
 'Maruti Suzuki Swift ',
 'Maruti Suzuki Swift ',
 'Maruti Suzuki Estilo ',
 'Maruti Suzuki Estilo ',
 'Maruti Suzuki Estilo ',
 'Maruti Suzuki Estilo ',
 'Hyundai Santro Xing ',
 'Hyundai Santro Xing ']

In [12]:
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)
manu_year

['2012',
 '2016',
 '2011',
 '2000',
 '2008',
 '2011',
 '2017',
 '2019',
 '2014',
 '2011',
 '2019',
 '2011',
 '2012',
 '2010',
 '2014',
 '2008',
 '2014',
 '2009',
 '2015',
 '2013',
 '2012',
 '2009',
 '2005',
 '2009',
 '2013',
 '2013',
 '2013',
 '2014',
 '2014',
 '2015',
 '2007',
 '2011',
 '2012',
 '2015',
 '2011',
 '2017',
 '2017',
 '2020',
 '2014',
 '2013',
 '2017',
 '2011',
 '2015',
 '2019',
 '2016',
 '2018',
 '2010',
 '2019',
 '2017',
 '2011',
 '2016',
 '2011',
 '2011',
 '2016',
 '2009',
 '2017',
 '2015',
 '2015',
 '2017',
 '2011',
 '2019',
 '2016',
 '2013',
 '2010',
 '2011',
 '2016',
 '2014',
 '2014',
 '2016',
 '2019',
 '2011',
 '2017',
 '2006',
 '2008',
 '2014',
 '2010',
 '2011',
 '2011',
 '2016',
 '2010',
 '2016',
 '2019',
 '2010',
 '2010',
 '2010',
 '2011',
 '2020',
 '2020',
 '2009',
 '2015',
 '2016',
 '2010',
 '2007',
 '2018',
 '2011',
 '2014',
 '2017',
 '2021',
 '2014',
 '2013',
 '2015',
 '2015',
 '2004',
 '1996',
 '2016',
 '2013',
 '2009',
 '2016',
 '2013',
 '2014',
 '2006',
 '1998',
 '2011',
 '2013',
 '2015',
 '2018',
 '2014',
 '2018',
 '2007',
 '2017',
 '2015',
 '2011',
 '2018',
 '2017',
 '2016',
 '2005',
 '2014',
 '2012',
 '2012',
 '2014',
 '2011',
 '2014',
 '2018',
 '2020',
 '2010',
 '2019',
 '2013',
 '2014',
 '2018',
 '2012',
 '2021',
 '2017',
 '2010',
 '2001',
 '2018',
 '2015',
 '2016',
 '2013',
 '2012',
 '2015',
 '2011',
 '2018',
 '2008',
 '2004',
 '2010',
 '2017',
 '2010',
 '2017',
 '2014',
 '2017',
 '2013',
 '2019',
 '2015',
 '2011',
 '2015',
 '2008',
 '2007',
 '2011',
 '2014',
 '2013',
 '2009',
 '2011',
 '2010',
 '2009',
 '2010',
 '2012',
 '2007',
 '2015',
 '2007',
 '2014',
 '2015',
 '2005',
 '2012',
 '2004',
 '2007',
 '2013',
 '2016',
 '2012',
 '2017',
 '2016',
 '2009',
 '2020',
 '2008',
 '2009',
 '2013',
 '2014',
 '2007',
 '2012',
 '2014',
 '2017',
 '2007',
 '2016',
 '2014',
 '2019',
 '2006',
 '2008',
 '2011',
 '2017',
 '2012',
 '2010',
 '2007',
 '2015',
 '2018',
 '2011',
 '2018',
 '2015',
 '2013',
 '2013',
 '2005',
 '2012',
 '2013',
 '2014',
 '2019',
 '2001',
 '2010',
 '2015',
 '2021',
 '2015',
 '2016',
 '2018',
 '2016',
 '2017',
 '2011',
 '2011',
 '2007',
 '2014',
 '2012',
 '2008',
 '2011',
 '2007',
 '2018',
 '2019',
 '-',
 '2005',
 '2006',
 '2010',
 '2011',
 '2010',
 '2015',
 '2015',
 '2013',
 '2011',
 '2012',
 '2013',
 '2011',
 '2011',
 '2012',
 '2017',
 '2014',
 '2011',
 '2007',
 '2017',
 '2014',
 '2018',
 '2003',
 '2010',
 '2011',
 '2013',
 '2019',
 '2013',
 '2012',
 '2018',
 '2015',
 '2014',
 '2013',
 '2012',
 '2008',
 '2013',
 '2011',
 '2009',
 '2016',
 '2012',
 '2014',
 '2016',
 '2008',
 '2011',
 '2016',
 '2017',
 '2007',
 '2018',
 '2017',
 '2013',
 '2019',
 '2008',
 '2013',
 '2015',
 '2010',
 '2009',
 '2018',
 '2018',
 '2016',
 '2015',
 '-',
 '2012',
 '2014',
 '2011',
 '2015',
 '2013',
 '2016',
 '2012',
 '2019',
 '2019',
 '2010',
 '2010',
 '2018',
 '2017',
 '2016',
 '2018',
 '2010',
 '2010',
 '-',
 '2020',
 '2013',
 '2006',
 '2004',
 '2006',
 '2012',
 '2018',
 '2011',
 '2015',
 '2014',
 '1999',
 '2008',
 '2011',
 '2015',
 '2008',
 '2010',
 '2007',
 '2018',
 '2012',
 '2012',
 '2017',
 '-',
 '2011',
 '2018',
 '2017',
 '2017',
 '2006',
 '2019',
 '2011',
 '2012',
 '2013',
 '2016',
 '2009',
 '2018',
 '2019',
 '2010',
 '2011',
 '2012',
 '2020',
 '2015',
 '-',
 '2010',
 '2011',
 '2016',
 '2015',
 '2011',
 '2017',
 '2007',
 '2007',
 '2016',
 '2020',
 '2014',
 '2016',
 '2014',
 '2013',
 '2015',
 '2015',
 '2013',
 '2013',
 '2018',
 '2013',
 '2010',
 '2011',
 '2011',
 '2012',
 '2013',
 '2016',
 '2009',
 '2005',
 '2013',
 '2012',
 '2021',
 '2014',
 '2012',
 '2018',
 '2011',
 '2010',
 '2006',
 '2011',
 '2015',
 '2015',
 '2016',
 '2005',
 '2010',
 '2011',
 '2012',
 '2014',
 '2010',
 '2016',
 '2011',
 '2015',
 '2010',
 '2005',
 '2008',
 '2018',
 '2012',
 '2010',
 '2010',
 '2012',
 '2013',
 '2016',
 '2013',
 '2007',
 '2020',
 '2010',
 '2012',
 '2017',
 '2008',
 '2015',
 '2015',
 '2010',
 '2016',
 '2017',
 '2009',
 '2010',
 '2017',
 '2011',
 '2011',
 '2014',
 '2012',
 '2014',
 '2011',
 '2018',
 '2016',
 '2018',
 '2016',
 '2010',
 '2008',
 '2009',
 '2019',
 '2014',
 '2014',
 '2013',
 '2011',
 '2006',
 '2005',
 '2005',
 '2016',
 '2010',
 '2015',
 '2013',
 '2016',
 '2009',
 '2007',
 '2010',
 '2014',
 '2018',
 '2020',
 '2015',
 '2014',
 '2011',
 '2012',
 '2013',
 '2013',
 '2012',
 '2012',
 '2014',
 '2018',
 '2015',
 '2016',
 '2018',
 '2021',
 '2008',
 '2016',
 '2009',
 '2011',
 '2012',
 '2010',
 '2012',
 '2009',
 '2012',
 '2010',
 '2007',
 '2011',
 '2011',
 '2011',
 '2011',
 '2009',
 '2009']

In [14]:
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)
price_

[' 3,75,000',
 ' 13,80,000',
 ' 17,50,000',
 ' 3,00,000',
 ' 1,35,000',
 ' 2,98,000',
 ' 16,99,999',
 ' 3,50,000',
 ' 9,99,999',
 ' 2,00,000',
 ' 19,00,000',
 ' 4,75,000',
 ' 3,50,000',
 ' 4,50,000',
 ' 3,50,000',
 ' 5,49,000',
 ' 4,99,000',
 ' 1,85,000',
 ' 3,55,000',
 ' 2,46,000',
 ' 4,80,000',
 ' 2,99,999',
 ' 1,80,000',
 ' 2,20,000',
 ' 4,95,000',
 ' 5,99,000',
 ' 3,80,000',
 ' 2,75,000',
 ' 5,10,000',
 ' 7,98,000',
 ' 1,00,000',
 ' 1,70,000',
 ' 6,55,000',
 ' 14,75,000',
 ' 3,25,000',
 ' 38,50,000',
 ' 7,75,000',
 ' 38,50,000',
 ' 3,25,000',
 ' 4,50,000',
 ' 4,60,000',
 ' 4,75,000',
 ' 5,50,000',
 ' 5,25,000',
 ' 2,10,000',
 ' 8,75,000',
 ' 3,75,000',
 ' 5,90,000',
 ' 8,95,000',
 ' 1,30,000',
 ' 4,70,000',
 ' 6,20,000',
 ' 15,25,000',
 ' 6,90,000',
 ' 2,59,000',
 ' 2,90,000',
 ' 3,79,000',
 ' 7,20,000',
 ' 5,00,000',
 ' 2,40,000',
 ' 15,51,000',
 ' 4,70,000',
 ' 2,99,999',
 ' 1,50,000',
 ' 3,25,000',
 ' 6,95,000',
 ' 4,95,000',
 ' 4,95,000',
 ' 6,45,000',
 ' 8,75,000',
 ' 7,50,000',
 ' 9,90,000',
 ' 1,35,000',
 ' 2,40,000',
 ' 4,50,000',
 ' 5,25,000',
 ' 3,65,000',
 ' 2,25,000',
 ' 11,25,000',
 ' 2,25,000',
 ' 8,50,000',
 ' 10,51,000',
 ' 1,80,000',
 ' 1,55,000',
 ' 4,35,000',
 ' 1,50,000',
 ' 18,95,000',
 ' 17,50,000',
 ' 70,000',
 ' 4,99,000',
 ' 4,45,000',
 ' 2,25,000',
 ' 1,25,000',
 ' 6,50,000',
 ' 7,25,000',
 ' 4,90,000',
 ' 5,80,000',
 ' 18,25,000',
 ' 5,55,000',
 ' 4,45,000',
 ' 7,25,000',
 ' 5,25,000',
 ' 80,000',
 ' 3,00,000',
 ' 2,49,000',
 ' 3,85,000',
 ' 11,11,111',
 ' 2,71,000',
 ' 4,24,999',
 ' 3,30,000',
 ' 1,00,000',
 ' 40,000',
 ' 8,49,000',
 ' 15,50,000',
 ' 6,51,000',
 ' 8,75,000',
 ' 4,60,000',
 ' 5,50,000',
 ' 95,000',
 ' 7,75,000',
 ' 11,25,000',
 ' 2,75,000',
 ' 2,90,000',
 ' 60,000',
 ' 4,75,000',
 ' 1,90,000',
 ' 5,50,000',
 ' 3,45,000',
 ' 4,40,000',
 ' 3,90,000',
 ' 6,50,000',
 ' 2,26,000',
 ' 79,50,000',
 ' 34,00,000',
 ' 25,00,000',
 ' 43,00,000',
 ' 3,99,999',
 ' 6,50,000',
 ' 10,00,000',
 ' 4,00,000',
 ' 18,95,000',
 ' 7,00,000',
 ' 1,50,000',
 ' 49,999',
 ' 10,00,000',
 ' 7,10,000',
 ' 6,00,000',
 ' 2,65,000',
 ' 80,000',
 ' 5,85,000',
 ' 4,75,000',
 ' 6,80,000',
 ' 8,75,000',
 ' 74,500',
 ' 2,41,000',
 ' 5,50,000',
 ' 4,75,000',
 ' 9,95,000',
 ' 5,75,000',
 ' 6,50,000',
 ' 12,60,000',
 ' 8,75,000',
 ' 6,00,000',
 ' 4,00,000',
 ' 3,85,000',
 ' 3,40,000',
 ' 95,000',
 ' 1,40,000',
 ' 6,95,000',
 ' 2,25,000',
 ' 2,40,000',
 ' 10,25,000',
 ' 1,70,000',
 ' 2,49,000',
 ' 2,49,000',
 ' 2,95,000',
 ' 1,75,000',
 ' 6,55,000',
 ' 2,35,000',
 ' 8,50,000',
 ' 22,00,000',
 ' 4,51,000',
 ' 2,75,000',
 ' 95,000',
 ' 65,000',
 ' 5,00,000',
 ' 6,10,000',
 ' 4,85,000',
 ' 5,95,000',
 ' 6,70,000',
 ' 2,40,000',
 ' 10,45,000',
 ' 1,79,000',
 ' 1,75,000',
 ' 6,99,000',
 ' 4,89,000',
 ' 1,49,000',
 ' 3,35,000',
 ' 3,75,000',
 ' 17,50,000',
 ' 4,25,000',
 ' 4,65,000',
 ' 5,90,000',
 ' 3,90,000',
 ' 2,43,000',
 ' 1,70,000',
 ' 3,60,000',
 ' 6,25,000',
 ' 2,70,000',
 ' 2,30,000',
 ' 3,45,000',
 ' 6,25,000',
 ' 6,90,000',
 ' 6,00,000',
 ' 8,25,000',
 ' 9,75,000',
 ' 4,50,000',
 ' 6,25,000',
 ' 4,00,000',
 ' 12,95,000',
 ' 4,90,000',
 ' 19,50,000',
 ' 7,35,000',
 ' 70,000',
 ' 2,80,000',
 ' 6,45,000',
 ' 17,45,000',
 ' 14,75,000',
 ' 6,95,000',
 ' 14,25,000',
 ' 8,35,000',
 ' 7,95,000',
 ' 2,99,000',
 ' 2,72,000',
 ' 2,31,000',
 ' 4,99,000',
 ' 3,55,000',
 ' 3,75,000',
 ' 10,75,000',
 ' 94,000',
 ' 13,00,000',
 ' 19,51,000',
 '-',
 ' 85,000',
 ' 3,59,000',
 ' 2,23,000',
 ' 7,75,000',
 ' 2,69,000',
 ' 6,25,000',
 ' 4,75,000',
 ' 4,75,000',
 ' 2,18,999',
 ' 3,95,000',
 ' 4,99,000',
 ' 2,25,000',
 ' 2,25,000',
 ' 4,45,000',
 ' 3,50,000',
 ' 1,45,000',
 ' 3,85,000',
 ' 99,000',
 ' 3,20,000',
 ' 10,50,000',
 ' 9,25,000',
 ' 1,75,000',
 ' 5,50,000',
 ' 2,60,000',
 ' 2,35,000',
 ' 11,75,000',
 ' 4,85,000',
 ' 2,99,000',
 ' 10,50,000',
 ' 4,45,000',
 ' 3,90,000',
 ' 2,75,000',
 ' 2,78,000',
 ' 1,25,000',
 ' 1,95,000',
 ' 1,85,000',
 ' 2,55,000',
 ' 2,95,000',
 ' 3,50,000',
 ' 14,75,000',
 ' 2,00,000',
 ' 1,30,000',
 ' 2,00,000',
 ' 8,85,000',
 ' 8,70,000',
 ' 1,10,000',
 ' 7,00,000',
 ' 2,95,000',
 ' 2,45,000',
 ' 7,40,000',
 ' 70,000',
 ' 3,55,000',
 ' 6,35,000',
 ' 2,60,000',
 ' 1,25,000',
 ' 7,21,000',
 ' 6,65,000',
 ' 5,35,000',
 ' 5,60,000',
 '-',
 ' 2,25,000',
 ' 4,59,999',
 ' 3,20,005',
 ' 6,50,000',
 ' 4,55,000',
 ' 10,85,000',
 ' 2,99,000',
 ' 6,79,000',
 ' 6,42,000',
 ' 1,65,000',
 ' 7,35,000',
 ' 7,85,000',
 ' 6,91,000',
 ' 8,50,000',
 ' 7,25,000',
 ' 3,25,000',
 ' 1,75,000',
 '-',
 ' 10,00,000',
 ' 4,95,000',
 ' 80,000',
 ' 60,000',
 ' 1,00,000',
 ' 3,10,000',
 ' 7,00,000',
 ' 8,88,000',
 ' 5,10,000',
 ' 4,85,008',
 ' 1,25,000',
 ' 70,000',
 ' 3,55,000',
 ' 8,00,000',
 ' 7,50,000',
 ' 2,75,000',
 ' 2,20,000',
 ' 7,99,000',
 ' 2,55,000',
 ' 6,11,000',
 ' 9,50,000',
 '-',
 ' 2,10,000',
 ' 3,50,000',
 ' 4,71,000',
 ' 18,25,000',
 ' 1,20,000',
 ' 9,00,000',
 ' 3,89,999',
 ' 4,10,000',
 ' 2,70,000',
 ' 16,00,000',
 ' 1,10,000',
 ' 7,80,000',
 ' 52,00,000',
 ' 6,00,000',
 ' 2,50,000',
 ' 2,80,000',
 ' 6,90,000',
 ' 5,65,111',
 '-',
 ' 5,65,000',
 ' 3,10,000',
 ' 5,60,000',
 ' 8,75,000',
 ' 2,99,000',
 ' 7,49,000',
 ' 1,40,000',
 ' 3,35,000',
 ' 11,00,000',
 ' 18,85,000',
 ' 5,12,000',
 ' 5,11,000',
 ' 7,75,000',
 ' 2,89,000',
 ' 7,25,000',
 ' 4,99,000',
 ' 4,45,000',
 ' 4,20,000',
 ' 8,35,000',
 ' 3,90,000',
 ' 3,75,000',
 ' 3,55,000',
 ' 3,60,000',
 ' 5,80,000',
 ' 4,60,000',
 ' 4,98,000',
 ' 1,85,000',
 ' 2,10,000',
 ' 2,79,000',
 ' 3,32,000',
 ' 19,000',
 ' 4,21,000',
 ' 3,50,000',
 ' 8,34,000',
 ' 2,84,000',
 ' 2,64,000',
 ' 2,30,000',
 ' 1,99,000',
 ' 3,50,000',
 ' 15,85,111',
 ' 6,40,000',
 ' 1,30,000',
 ' 3,90,000',
 ' 3,49,000',
 ' 3,29,000',
 ' 7,69,000',
 ' 5,89,000',
 ' 6,99,000',
 ' 2,19,000',
 ' 5,25,000',
 ' 1,75,000',
 ' 1,75,000',
 ' 1,95,000',
 ' 10,45,000',
 ' 3,00,000',
 ' 2,05,000',
 ' 2,65,000',
 ' 1,70,000',
 ' 18,51,000',
 ' 5,25,000',
 ' 9,00,000',
 ' 1,50,000',
 ' 3,80,000',
 ' 2,31,000',
 ' 3,71,000',
 ' 4,75,000',
 ' 2,90,000',
 ' 4,70,000',
 ' 4,71,000',
 ' 2,49,000',
 ' 8,85,000',
 ' 4,35,000',
 ' 1,79,000',
 ' 2,28,000',
 ' 7,28,000',
 ' 1,20,000',
 ' 3,45,000',
 ' 4,95,000',
 ' 2,90,000',
 ' 6,50,000',
 ' 3,45,000',
 ' 8,25,000',
 ' 4,45,000',
 ' 5,75,000',
 ' 19,50,000',
 ' 2,71,000',
 ' 1,35,000',
 ' 7,45,000',
 ' 9,90,000',
 ' 2,99,000',
 ' 4,60,000',
 ' 4,50,000',
 ' 3,25,000',
 ' 95,000',
 ' 84,000',
 ' 1,25,000',
 ' 5,25,000',
 ' 2,30,000',
 ' 2,51,000',
 ' 3,95,000',
 ' 5,39,999',
 ' 2,50,000',
 ' 1,30,000',
 ' 77,000',
 ' 3,48,000',
 ' 5,30,000',
 ' 10,70,000',
 ' 5,85,000',
 ' 6,75,000',
 ' 2,85,000',
 ' 8,10,000',
 ' 2,95,000',
 ' 3,96,000',
 ' 4,25,000',
 ' 3,75,000',
 ' 4,95,000',
 ' 5,75,000',
 ' 4,25,000',
 ' 16,85,000',
 ' 4,85,000',
 ' 6,69,294',
 ' 2,10,000',
 ' 1,00,000',
 ' 1,88,000',
 ' 1,75,000',
 ' 2,85,000',
 ' 2,15,000',
 ' 3,40,000',
 ' 1,95,000',
 ' 3,70,000',
 ' 2,15,000',
 ' 1,50,000',
 ' 1,95,000',
 ' 1,95,000',
 ' 1,95,000',
 ' 1,95,000',
 ' 1,55,000',
 ' 1,55,000']

In [16]:
df1 = pd.DataFrame({})
df1["Brand"] = brand_
df1["Model"] = model
df1["Mnf_year"] = manu_year
df1["Driven_kms"] = driven
df1["Fuel"] = fuel
df1["Gear"] = gear
df1["Owners"]=owners
df1["Car_Price"] = price_
df1.insert(0, "Location", ["Maharashtra"]*500, True)
df1

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Maharashtra,Nissan Sunny,XV,2012,44584.0 KM,DIESEL,MANUAL,2nd,"3,75,000"
1,Maharashtra,Skoda Superb,,2016,27324.0 KM,PETROL,AUTOMATIC,--,"13,80,000"
2,Maharashtra,Bmw X5,2007-2013 xDrive 35i 3.0L,2011,"90,000 KM",DIESEL,AUTOMATIC,2nd,"17,50,000"
3,Maharashtra,Mahindra Jeep,Others,2000,50000 KM,DIESEL,MANUAL,Second,"3,00,000"
4,Maharashtra,Hyundai I10,2007-2010 Magna 1.2,2008,70000 KM,PETROL,MANUAL,Third,"1,35,000"
...,...,...,...,...,...,...,...,...,...
495,Maharashtra,Maruti Suzuki Estilo,VXi,2011,47246.0 KM,PETROL,MANUAL,--,"1,95,000"
496,Maharashtra,Maruti Suzuki Estilo,VXi,2011,47246.0 KM,PETROL,MANUAL,--,"1,95,000"
497,Maharashtra,Maruti Suzuki Estilo,VXi,2011,47246.0 KM,PETROL,MANUAL,--,"1,95,000"
498,Maharashtra,Hyundai Santro Xing,GLS,2009,53910.0 KM,PETROL,MANUAL,--,"1,55,000"
499,Maharashtra,Hyundai Santro Xing,GLS,2009,53910.0 KM,PETROL,MANUAL,--,"1,55,000"

In [36]:
driver.get("https://www.olx.in/")

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [41]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [42]:
len(page_url)

506

In [43]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [44]:
#for tamil nadu
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [45]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)

    
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)

    
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)

In [46]:
df2 = pd.DataFrame({})
df2["Brand"] = brand_
df2["Model"] = model
df2["Mnf_year"] = manu_year
df2["Driven_kms"] = driven
df2["Fuel"] = fuel
df2["Gear"] = gear
df2["Owners"]=owners
df2["Car_Price"] = price_
df2.insert(0, "Location", ["Tamil Nadu"]*506, True)
df2

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Tamil Nadu,Maruti Suzuki Vitara Brezza,ZDi Plus,2017,45000.0 KM,DIESEL,MANUAL,2nd,"8,40,000"
1,Tamil Nadu,Renault Kwid,RXT,2017,6326.0 KM,PETROL,MANUAL,--,"3,60,000"
2,Tamil Nadu,Toyota Innova,2.5 GX 8 STR-BS-III,2014,200000.0 KM,DIESEL,MANUAL,1st,"7,90,000"
3,Tamil Nadu,Nissan Terrano,2013-2017 XV Premium 110 PS,2015,105590 KM,DIESEL,MANUAL,Second,"5,80,000"
4,Tamil Nadu,Hyundai I20,2009-2011 Asta 1.4 CRDi (Diesel),2010,150687 KM,DIESEL,MANUAL,First,"3,60,000"
...,...,...,...,...,...,...,...,...,...
501,Tamil Nadu,Toyota Fortuner,2.8 4WD AT,2017,129000.0 KM,DIESEL,AUTOMATIC,1st,"26,50,000"
502,Tamil Nadu,Ford Ecosport,1.5 Petrol Titanium Plus AT,2014,"49,000 KM",PETROL,AUTOMATIC,2nd,"5,25,000"
503,Tamil Nadu,Mahindra Bolero,ZLX,2016,120000.0 KM,DIESEL,MANUAL,1st,"7,20,000"
504,Tamil Nadu,Maruti Suzuki Wagon R,LXI,2006,70000.0 KM,PETROL,MANUAL,2nd,"1,49,000"
505,Tamil Nadu,Honda City,2008-2011 1.5 V MT,2010,60000.0 KM,PETROL,MANUAL,3rd,"3,30,000"

In [47]:
driver.get("https://www.olx.in/")

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [49]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [50]:
len(page_url)

498

In [51]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [52]:
#for uttar pradesh
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [53]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)

    
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)

    
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)

In [54]:
df3 = pd.DataFrame({})
df3["Brand"] = brand_
df3["Model"] = model
df3["Mnf_year"] = manu_year
df3["Driven_kms"] = driven
df3["Fuel"] = fuel
df3["Gear"] = gear
df3["Owners"]=owners
df3["Car_Price"] = price_
df3.insert(0, "Location", ["Uttar Pradesh"]*498, True)
df3

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Uttar Pradesh,Maruti Suzuki Alto 800,VXI,2018,12010.0 KM,PETROL,MANUAL,1st,"3,41,400"
1,Uttar Pradesh,Honda Jazz,,2012,75699.0 KM,PETROL,MANUAL,--,"2,70,000"
2,Uttar Pradesh,Hyundai Elite I20,Magna 1.4 CRDI,2016,86897.0 KM,DIESEL,MANUAL,--,"5,35,000"
3,Uttar Pradesh,Maruti Suzuki 800,AC,2007,10000 KM,PETROL,MANUAL,Second,"30,000"
4,Uttar Pradesh,Maruti Suzuki 800,AC,2007,120000 KM,PETROL,AUTOMATIC,Second,"30,000"
...,...,...,...,...,...,...,...,...,...
493,Uttar Pradesh,Maruti Suzuki Swift Dzire,VDI,2009,"80,000 KM",DIESEL,MANUAL,2nd,"2,15,000"
494,Uttar Pradesh,Tata Tiago,XZ Opt,2020,"8,500 KM",PETROL,MANUAL,1st,"6,00,000"
495,Uttar Pradesh,Toyota Fortuner,2.8 4WD AT,2017,"57,367 KM",DIESEL,AUTOMATIC,2nd,"27,00,000"
496,Uttar Pradesh,Maruti Suzuki Alto 800,2012-2016 LXI,2018,"14,000 KM",PETROL,MANUAL,1st,"2,80,000"
497,Uttar Pradesh,Skoda Rapid,2011-2013 1.6 TDI Ambition,2012,"96,000 KM",DIESEL,MANUAL,1st,"2,25,000"

In [59]:
driver.get("https://www.olx.in/")

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [61]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [62]:
len(page_url)

497

In [63]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [64]:
#for uttar pradesh
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [65]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)

    
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)

    
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)

In [67]:
df4 = pd.DataFrame({})
df4["Brand"] = brand_
df4["Model"] = model
df4["Mnf_year"] = manu_year
df4["Driven_kms"] = driven
df4["Fuel"] = fuel
df4["Gear"] = gear
df4["Owners"]=owners
df4["Car_Price"] = price_
df4.insert(0, "Location", ["Kerala"]*497, True)
df4

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Kerala,Maruti Suzuki Estilo,LXI,2010,62388.0 KM,PETROL,MANUAL,1st,"1,95,000"
1,Kerala,Hyundai Eon,Magna,2016,25000.0 KM,PETROL,MANUAL,1st,"2,49,000"
2,Kerala,Renault Kwid,RXE,2016,71855.0 KM,PETROL,MANUAL,2nd,"2,25,000"
3,Kerala,Mercedes-Benz New C-Class,C 220 CDI CLASSIC,2013,160000 KM,DIESEL,AUTOMATIC,Third,"16,00,000"
4,Kerala,Skoda Rapid,2011-2013 1.6 MPI Ambition,2012,120000 KM,DIESEL,MANUAL,First,"3,50,000"
...,...,...,...,...,...,...,...,...,...
492,Kerala,Tata Others,,2013,100000.0 KM,DIESEL,MANUAL,2nd,"1,35,000"
493,Kerala,Mitsubishi Pajero,2002-2012 4X4 LHD,2009,129000.0 KM,DIESEL,MANUAL,4+,"6,75,000"
494,Kerala,Hyundai Fluidic Verna,1.6 CRDi SX,2012,140000.0 KM,DIESEL,MANUAL,3rd,"3,50,000"
495,Kerala,Hyundai Getz,GLX,2008,112000.0 KM,PETROL,MANUAL,4+,"1,09,000"
496,Kerala,Maruti Suzuki Baleno,1.3 Delta,2017,2407.0 KM,PETROL,MANUAL,1st,"5,95,000"

In [68]:
driver.get("https://www.olx.in/")

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [70]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [71]:
len(page_url)

499

In [72]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [73]:
#for delhi pradesh
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [74]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)

    
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)

    
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)

In [75]:
df5 = pd.DataFrame({})
df5["Brand"] = brand_
df5["Model"] = model
df5["Mnf_year"] = manu_year
df5["Driven_kms"] = driven
df5["Fuel"] = fuel
df5["Gear"] = gear
df5["Owners"]=owners
df5["Car_Price"] = price_
df5.insert(0, "Location", ["New Delhi"]*499, True)
df5

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,New Delhi,Hyundai Creta,Others,2021,1.0 KM,PETROL,MANUAL,--,"14,05,168"
1,New Delhi,Hyundai Grand I10,1.2 Kappa Sportz,2015,65000.0 KM,PETROL,MANUAL,2nd,"3,75,000"
2,New Delhi,-,-,-,-,-,-,-,-
3,New Delhi,Maruti Suzuki Swift,2011-2014 LXI,2012,70000 KM,PETROL,MANUAL,Second,"2,75,000"
4,New Delhi,Honda Brio,2011-2013 V MT,2012,999999 KM,PETROL,MANUAL,First,"1,75,000"
...,...,...,...,...,...,...,...,...,...
494,New Delhi,Ford Ecosport,1.5 Ti VCT AT Titanium,2015,54000.0 KM,PETROL,AUTOMATIC,1st,"6,45,000"
495,New Delhi,Maruti Suzuki Swift,ZXI,2021,6000.0 KM,PETROL,AUTOMATIC,1st,"7,85,000"
496,New Delhi,Toyota Fortuner,2011-2016 2.5 4x2 MT TRD Sportivo,2014,135252.0 KM,DIESEL,MANUAL,2nd,"14,50,000"
497,New Delhi,Maruti Suzuki Alto K10,VXI,2018,28585.0 KM,PETROL,MANUAL,1st,"3,25,000"
498,New Delhi,Mahindra Scorpio,S4 Plus,2015,57000.0 KM,DIESEL,MANUAL,1st,"8,24,999"

In [76]:
driver.get("https://www.olx.in/")

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [78]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [79]:
len(page_url)

506

In [80]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [81]:
#for delhi pradesh
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [82]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)

    
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)

    
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)

In [83]:
df6 = pd.DataFrame({})
df6["Brand"] = brand_
df6["Model"] = model
df6["Mnf_year"] = manu_year
df6["Driven_kms"] = driven
df6["Fuel"] = fuel
df6["Gear"] = gear
df6["Owners"]=owners
df6["Car_Price"] = price_
df6.insert(0, "Location", ["Karnataka"]*506, True)
df6

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Karnataka,Mahindra Thar,CRDe,2018,"31,000 KM",DIESEL,MANUAL,2nd,"9,95,000"
1,Karnataka,-,-,-,-,-,-,-,-
2,Karnataka,Hyundai I10,Magna Automatic,2010,67000.0 KM,PETROL,AUTOMATIC,2nd,"2,95,000"
3,Karnataka,Hyundai Santro,GS zipDrive - Euro I,2001,90000 KM,PETROL,MANUAL,Second,"50,000"
4,Karnataka,Honda City,2008-2011 1.5 S MT,2011,80981 KM,PETROL,MANUAL,Second,"4,30,000"
...,...,...,...,...,...,...,...,...,...
501,Karnataka,Hyundai I10,2007-2010 Sportz 1.2 AT,2010,60000.0 KM,PETROL,AUTOMATIC,1st,"3,35,000"
502,Karnataka,Tata Safari,EX 4x2,2006,120000.0 KM,DIESEL,MANUAL,2nd,"2,00,000"
503,Karnataka,Hyundai Santro Xing,XO,2007,90000.0 KM,PETROL,MANUAL,1st,"2,10,000"
504,Karnataka,Maruti Suzuki Wagon R,ZXI 1.2,2020,1700.0 KM,PETROL,MANUAL,1st,"6,00,000"
505,Karnataka,Skoda Kodiaq,2.0 TDI Style,2017,53905.0 KM,DIESEL,AUTOMATIC,1st,"21,75,000"

In [84]:
driver.get("https://www.olx.in/")

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [86]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [87]:
len(page_url)

493

In [88]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [89]:
#for gujrat pradesh
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [90]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)

    
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)

    
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)

In [91]:
df7 = pd.DataFrame({})
df7["Brand"] = brand_
df7["Model"] = model
df7["Mnf_year"] = manu_year
df7["Driven_kms"] = driven
df7["Fuel"] = fuel
df7["Gear"] = gear
df7["Owners"]=owners
df7["Car_Price"] = price_
df7.insert(0, "Location", ["Gujrat"]*493, True)
df7

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Gujrat,Maruti Suzuki Swift Dzire,VDI,2014,70000.0 KM,DIESEL,MANUAL,1st,"4,50,000"
1,Gujrat,Hyundai Eon,Era +,2018,26000.0 KM,PETROL,MANUAL,1st,"3,40,000"
2,Gujrat,Ford Ecosport,,2016,71408.0 KM,PETROL,MANUAL,--,"6,10,000"
3,Gujrat,Tata Indica Vista,Quadrajet LS,2014,140000 KM,DIESEL,MANUAL,First,"2,02,500"
4,Gujrat,Volkswagen Polo,1.5 TDI Highline Plus,2015,90000 KM,DIESEL,MANUAL,Second,"3,70,000"
...,...,...,...,...,...,...,...,...,...
488,Gujrat,Hyundai Xcent,1.2 VTVT S,2015,60000.0 KM,PETROL,MANUAL,1st,"4,80,000"
489,Gujrat,Hyundai Xcent,1.2 VTVT S,2018,50000.0 KM,CNG & HYBRIDS,MANUAL,1st,"6,15,000"
490,Gujrat,Maruti Suzuki Baleno,Delta,2016,78000.0 KM,DIESEL,MANUAL,1st,"5,41,000"
491,Gujrat,Tata Indica Vista,Quadrajet VX Tech,2014,63000.0 KM,DIESEL,MANUAL,1st,"2,40,000"
492,Gujrat,Hyundai Santro Xing,GL Plus,2011,76000.0 KM,PETROL,MANUAL,2nd,"2,40,000"

In [92]:
driver.get("https://www.olx.in/")

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [94]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [95]:
len(page_url)

498

In [96]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [97]:
#for punjab
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [98]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)

    
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)

    
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)

In [99]:
df8 = pd.DataFrame({})
df8["Brand"] = brand_
df8["Model"] = model
df8["Mnf_year"] = manu_year
df8["Driven_kms"] = driven
df8["Fuel"] = fuel
df8["Gear"] = gear
df8["Owners"]=owners
df8["Car_Price"] = price_
df8.insert(0, "Location", ["Punjab"]*498, True)
df8

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Punjab,Maruti Suzuki Alto K10,VXI Airbag,2019,16300.0 KM,PETROL,MANUAL,1st,"3,85,000"
1,Punjab,Maruti Suzuki 800,Others,1994,14000.0 KM,PETROL,MANUAL,2nd,"60,000"
2,Punjab,Bentley Others,,2010,26000.0 KM,DIESEL,AUTOMATIC,1st,"25,00,000"
3,Punjab,Hyundai I10,Era,2008,50000 KM,PETROL,MANUAL,First,"1,50,000"
4,Punjab,Ford Ecosport,1.5 Diesel Trend Plus,2021,10000 KM,DIESEL,MANUAL,First,"9,90,000"
...,...,...,...,...,...,...,...,...,...
493,Punjab,Mahindra Bolero,SLX BS IV,2015,55000.0 KM,DIESEL,MANUAL,1st,"5,90,000"
494,Punjab,Maruti Suzuki 800,Others,2000,"80,000 KM",PETROL,MANUAL,3rd,"48,000"
495,Punjab,Hyundai Fluidic Verna,1.6 CRDi SX,2012,78000.0 KM,DIESEL,MANUAL,2nd,"3,40,000"
496,Punjab,Hyundai I10,2007-2010 Magna 1.2,2010,"75,000 KM",PETROL,MANUAL,2nd,"1,70,000"
497,Punjab,Ford Fiesta Classic,1.6 SXI Duratec,2015,70000.0 KM,DIESEL,MANUAL,1st,"2,70,000"

In [100]:
driver.get("https://www.olx.in/")

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [102]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [103]:
len(page_url)

513

In [104]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [105]:
#for telangana
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [106]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)

    
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)

    
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)

In [107]:
df9 = pd.DataFrame({})
df9["Brand"] = brand_
df9["Model"] = model
df9["Mnf_year"] = manu_year
df9["Driven_kms"] = driven
df9["Fuel"] = fuel
df9["Gear"] = gear
df9["Owners"]=owners
df9["Car_Price"] = price_
df9.insert(0, "Location", ["Telangana"]*513, True)
df9

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Telangana,Ford Fiesta,2011-2013 Diesel Titanium Plus,2011,"88,000 KM",DIESEL,MANUAL,1st,"3,00,000"
1,Telangana,Ford Endeavour,3.2 Titanium AT 4X4,2016,100000.0 KM,DIESEL,AUTOMATIC,1st,"22,00,000"
2,Telangana,Toyota Innova Crysta,2.8Z Automatic,2016,75000.0 KM,DIESEL,AUTOMATIC,2nd,"17,25,000"
3,Telangana,Mahindra Xuv500,2011-2015 W6 2WD,2013,146318 KM,DIESEL,MANUAL,First,"7,50,000"
4,Telangana,Maruti Suzuki Ertiga,2012-2015 VDI,2013,90000 KM,DIESEL,MANUAL,First,"5,50,000"
...,...,...,...,...,...,...,...,...,...
508,Telangana,Renault Kwid,RXT,2019,35938.0 KM,PETROL,MANUAL,1st,"4,75,000"
509,Telangana,Hyundai Getz,GLS,2006,"103,000 KM",PETROL,MANUAL,1st,"90,000"
510,Telangana,Tata Tiago Jtp,Petrol,2021,"7,000 KM",PETROL,MANUAL,1st,"5,75,000"
511,Telangana,Tata Indigo Cs,CS GLS,2008,"120,000 KM",DIESEL,MANUAL,1st,"30,000"
512,Telangana,Maruti Suzuki Alto,LX BS-IV,2007,"45,000 KM",PETROL,MANUAL,1st,"1,30,000"

In [108]:
driver.get("https://www.olx.in/")

In [ ]:
count=20
while count>1:
    button=driver.find_element_by_xpath("//li[@class='_3OF2S']/div/button")
    button.click()
    count-=1
    time.sleep(6)

In [110]:
page_url=[]
for i in driver.find_elements_by_xpath("//ul[@class='c1gK9 _1Xvo7']/li/a"):
    page_url.append(i.get_attribute('href'))

In [111]:
len(page_url)

499

In [112]:
brand=[]
model=[]
manu_year=[]
driven=[]
fuel=[]
owners=[]
location=[]
price=[]
gear=[]

In [113]:
#for haryana
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//div[@class='_35xN1']")

        brand.append(a.text)
    except:
        brand.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='_3tLee']")

        model.append(b.text)
    except:
        model.append('-')
    
    try:
        c=driver.find_element_by_xpath("//div[@class='_1l939']/div[1]/div[2]/div[2]")

        owners.append(c.text)
    except:
        
        owners.append('-')
        
        
    try:
        e=driver.find_element_by_xpath("//div[@class='aOxkz']/div[1]/div[1]")

        fuel.append(e.text)
    except:
        fuel.append('-')
        
    try:
        f=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div[1]")

        driven.append(f.text)
    except:
        driven.append('-')   
    
    try:
        g=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div[1]")

        gear.append(g.text)
    except:
        gear.append('-') 
        
    try:
        h=driver.find_element_by_xpath("//div[@class='_3FkyT']")

        price.append(h.text)
    except:
        price.append('-')

In [114]:
brand_=[]
for i in range(len(brand)):
    u=brand[i].split('(')[0]
    brand_.append(u)

    
for i in range(len(brand)):
    l=brand[i].split('(')[-1].split(')')[0]
    manu_year.append(l)

    
price_=[]
for i in range(len(price)):
    po=price[i].split('₹')[-1]
    price_.append(po)

In [115]:
df10 = pd.DataFrame({})
df10["Brand"] = brand_
df10["Model"] = model
df10["Mnf_year"] = manu_year
df10["Driven_kms"] = driven
df10["Fuel"] = fuel
df10["Gear"] = gear
df10["Owners"]=owners
df10["Car_Price"] = price_
df10.insert(0, "Location", ["Haryana"]*499, True)
df10

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Haryana,Volkswagen Polo,,2015,68524.0 KM,PETROL,MANUAL,--,"4,60,000"
1,Haryana,Hyundai Eon,Era +,2018,29899.0 KM,PETROL,MANUAL,1st,"3,11,000"
2,Haryana,Skoda Fabia,2010-2015 1.2 MPI Elegance,2011,"86,000 KM",PETROL,MANUAL,1st,"2,10,000"
3,Haryana,Ford Ecosport,2013-2015 1.0 Ecoboost Titanium,2013,90000 KM,PETROL,MANUAL,Fourth,"4,10,000"
4,Haryana,Ford Ecosport,2013-2015 1.5 DV5 MT Titanium,2015,140000 KM,DIESEL,MANUAL,Second,"5,20,000"
...,...,...,...,...,...,...,...,...,...
494,Haryana,Bmw X1,sDrive 20d M Sport,2015,62000.0 KM,DIESEL,AUTOMATIC,1st,"10,37,000"
495,Haryana,Ford Figo,Diesel,2013,"85,000 KM",DIESEL,MANUAL,2nd,"2,75,000"
496,Haryana,Hyundai Venue,SX Plus Turbo DCT,2019,52150.0 KM,DIESEL,MANUAL,1st,"9,25,000"
497,Haryana,Maruti Suzuki Alto,Vxi 1.1,2006,"90,000 KM",PETROL,AUTOMATIC,2nd,"89,000"
498,Haryana,Mahindra Thar,LX 4-STR Hard Top AT,2021,0 KM,DIESEL,AUTOMATIC,1st,"19,25,000"

In [117]:
# merge all dataframes of car data
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10], ignore_index=True)
df

,Location,Brand,Model,Mnf_year,Driven_kms,Fuel,Gear,Owners,Car_Price
0,Maharashtra,Nissan Sunny,XV,2012,44584.0 KM,DIESEL,MANUAL,2nd,"3,75,000"
1,Maharashtra,Skoda Superb,,2016,27324.0 KM,PETROL,AUTOMATIC,--,"13,80,000"
2,Maharashtra,Bmw X5,2007-2013 xDrive 35i 3.0L,2011,"90,000 KM",DIESEL,AUTOMATIC,2nd,"17,50,000"
3,Maharashtra,Mahindra Jeep,Others,2000,50000 KM,DIESEL,MANUAL,Second,"3,00,000"
4,Maharashtra,Hyundai I10,2007-2010 Magna 1.2,2008,70000 KM,PETROL,MANUAL,Third,"1,35,000"
...,...,...,...,...,...,...,...,...,...
5004,Haryana,Bmw X1,sDrive 20d M Sport,2015,62000.0 KM,DIESEL,AUTOMATIC,1st,"10,37,000"
5005,Haryana,Ford Figo,Diesel,2013,"85,000 KM",DIESEL,MANUAL,2nd,"2,75,000"
5006,Haryana,Hyundai Venue,SX Plus Turbo DCT,2019,52150.0 KM,DIESEL,MANUAL,1st,"9,25,000"
5007,Haryana,Maruti Suzuki Alto,Vxi 1.1,2006,"90,000 KM",PETROL,AUTOMATIC,2nd,"89,000"
5008,Haryana,Mahindra Thar,LX 4-STR Hard Top AT,2021,0 KM,DIESEL,AUTOMATIC,1st,"19,25,000"

In [118]:
df.to_excel("car_data.xlsx")